<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Crossroad Church</h3>
				<ul class="mb3">
					<li><a href="https://www.crossroad.org.uk/" class="link">Home</a></li>
					<li><a href="https://www.crossroad.org.uk/podcasts/" class="link">Podcasts</a></li>
					<li><a href="/contact" class="link">Contact us</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/Crossroad-Church-282250305810556/" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://instagram.com/crossroadseaton" "svg" "icons-instagram") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
