<div class="bg-off-white pv4">
    <div class="ph3 mw7 center">
      <h2 class="f2 b lh-title mb2">This week's message</h2>
      <p class="mb4 mw6">{{.sermon.title}}</p>
        <div class="flex-ns">
            <div class="">
                <div
                style="position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;">
                    <iframe
                    src="//www.youtube.com/embed/{{.sermon.video}}"
                    allowfullscreen
                    frameborder="0"
                    title="{{.title}}"
                    ></iframe>
            </div>
        </div>
      </div>
    </div>
  </div>
  