{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<div class="ph3 bg-off-white">
  <div class="center mw6 pv3">
    <h3 class="f3 b lh-title mb2 primary">Ask for prayer</h3>
    <p class="f6 mw-100 i">{{.Params.intro}}</p>
    <form
      name="prayer-request"
      action="https://docs.google.com/forms/u/2/d/e/1FAIpQLScBzP0MwN9wAF38lm0pVwTgW4WkpvJFxTJMHv5h0Ju7Qxyqhw/formResponse"
    >
      <input
        name="entry.122909103"
        class="w-100 mb2 f6"
        id="name_input"
        type="text"
        placeholder="Your name"
        required
      />
      <input
        name="entry.1499548866"
        class="w-100 mb2 f6"
        id="contact_input"
        type="text"
        placeholder="Please email/phone me using these details (optional)"
      />
      <textarea
        name="entry.977477598"
        class="w-100 mb2 f6"
        id="request_textarea"
        type="text"
        placeholder="Your prayer request"
        required
      ></textarea>
      <input class="bg-primary white b mb2" style="cursor:pointer" type="submit" value="Send" />
    </form>
    {{ if gt (len .Params.situations) 0 }}
    <h3 class="f3 b lh-title mb2 mt2 primary">Prayers for different situations</h3>
    {{ range .Params.situations }}
    <div class="">
      <h4 class="f4 b">{{.title}}</h4>
      {{ if gt (len .bible) 0 }}
        <p class="f6 mw-100 i">{{.bible}}</p>
      {{ end }}
      <p class="f6 mw-100">{{.prayer}}</p>
    </div>
    {{ end }} {{ end }}
  </div>
</div>

{{ end }}
