{{ define "main" }}

<div class="ph3 bg-off-white">
  <div class="center mw6 pv3">
    <img src="{{ .Params.logo }}" alt="" class="db w4 center pv4" />

    {{ .Content }}

    <div class="flex-ns mb3">
      {{ range .Params.contact_entries }}
      <div>
        <h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
        <p>{{ .text }}</p>
      </div>
      {{ end }}
    </div>

    {{ partial "contact-form" . }}
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLScBzP0MwN9wAF38lm0pVwTgW4WkpvJFxTJMHv5h0Ju7Qxyqhw/viewform?embedded=true"
      width="640"
      height="809"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      >Loading…</iframe
    >
  </div>
</div>

{{ end }}
