{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

{{ partial "notice-block" .Params}}

{{ if eq .Params.worshipintro.showsection true }}
    {{ partial "worship-block" .Params}}
{{ end }}

{{ if eq .Params.sundayschool.showsection true }}
    {{ partial "sunday-school-block" .Params}}
{{ end }}

{{ if eq .Params.specialvideo.showsection true }}
    {{ partial "special-video" .Params}}
{{ end }}

{{ if eq .Params.sermon.showsection true }}
    {{ partial "sermon-block" .Params}}
{{ end }}

{{ if eq .Params.blessing.showsection true }}
    {{ partial "short-text" .Params.blessing}}
{{ end }}

{{ end }}
